h1, h2, h3, h4, h5{
	font-family: 'Righteous', cursive !important;
	color: #283a28;
	margin: 20px auto;
}
body{
	font-family: 'Comfortaa', cursive !important;
}
a:hover, a:link, a:visited{
	color: red;
}
.top-bar{
	top:0;
	z-index: 9999
}
.menu-menor{
	max-height: 50px;
	color: #283a28;
	font-size: 25px;
	padding-left: 10px;
}
.menu-drop:hover, .menu-drop:link, .menu-drop:visited {
	color: #283a28;

}
.menu-text a{
	color: #283a28;

}
.top-bar{
	border-bottom: solid 1px #e6e6e6;
}
@media screen and (max-width: 480px){
	.orbit-container{
		height: 300px;
	}
}
.orbit-container li{
	text-align: center;

	height: 1200px;
	background-size: cover;
	background-position: center center;
}
.seta{
	font-size: 30px;
	background-color: rgba(10, 10, 10, 0.5);
	padding: 5px 10px;
}
.grid-container{
	max-width: 156rem !important;
	padding: 2rem 2rem;
}
.card-divider{
	background: #283a28;
	color: #fff;
	text-shadow: 0px 5px 5px #000
}
.card img{
	max-width: 200px;
	margin: 0 auto;
}
.card{
	max-width: 300px;
	margin: 10px auto;
}
.ali-direita{
	text-align: right;
}
@media screen and (max-width: 649px){

	.jogos{
		font-size: 13px;
	}
	.grid-container{
		padding: 0 0;
	}
	.caixa{
		margin: 2px 2px;
	}
	.menu-maior{
		display: none;
	}
}
@media screen and (min-width: 650px){
	.caixa{
	border-top: 1px solid #283a28;
	border-right: 1px solid #283a28;
	border-left: 1px solid #283a28;
	margin: 30px 15px;
	box-shadow: 0px 5px 5px #000;
	}
	.menu-menor{
		display: none;
	}
}
.top-bar, .top-bar ul, .top-bar-left, .top-bar-right, .menu li{
	background: #fff;
}
.callout{
	text-shadow: 0px 5px 5px #000;
	background: #283a28;
	margin: 0 0 0 0 !important;
}
.admin{
	color: #283a28;
	font-weight: bold;
}
.admin:hover, .admin:link, .admin:visited{
	color: #283a28;
}
/*h2{
	font-family: 'Rationale', sans-serif;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
h4{
	font-family: 'Rationale', sans-serif;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
h5{
	font-family: 'Rationale', sans-serif;
	font-family: 'Yanone Kaffeesatz', sans-serif;

}*/

 /*_________*/

.logo-site{
	color: #fff !important;
	text-shadow: 0px 5px 5px #000;
}
.logo-site img{
	 width: 150px;

 }

.acme{
	font-family: 'Acme', sans-serif !important;
}

.login{
	padding: 10px 5px;
}
.vermelho{
	color: red;
	background-color: red;
}
.amarelo{
	color: yellow;
	background-color: yellow;
}
.mensagem{
	margin-top: 25%;
}
.mensagem h4, h3{
	
	color: white !important;
	text-shadow: 0px 5px 5px #000;
}